:root{
    --c-dark-grey: #504E4E;
    --c-greyish-yellow: #B4B199;
    --c-off-white: #F6F6F3;
    --c-light-grey: #E8E7DF;
    --c-clay-creek: #878364;
    --f-forum: 'Forum';
    --f-raleway: 'Raleway';
}
* { 
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background: #fff;
	color: var(--c-dark-grey);
    font-family: var(--f-forum), Helvetica, sans-serif;
    font-size: 18px
}
h1{
    font-size: 55px;
    margin-bottom: 0;
    text-align: center;
}
h3{
    font-family: var(--f-raleway);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
/* Custom utilities */
#page-wrapper{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
section{
    margin: 60px 0;
}
.main-container{
    padding: 0 35px;
}
.btn{
    font-size: 14px;
    font-weight: bold;
    font-family: var(--f-raleway);
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    border-radius: 0;
}
.primary-btn{
    width: 178px;
    background-color: var(--c-greyish-yellow);
}
.secondary-btn{
    width: 172px;
    color: #B4B199;
    background-color: var(--c-dark-grey);
}
.p-absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-ruler{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.custom-ruler .diamond{
    display: inline-block;
    height: 7px;
    width: 7px;
    margin: 0 -6px;
}
.custom-ruler .line {
    display: inline-block;
    height: 1px;
    width: 100px;
    background-color: var(--c-greyish-yellow);
}
.custom-ruler .line.left{
    margin-right: 15px;
}
.custom-ruler .line.right{
    margin-left: 15px;
}
/* Message bar */
.message{
    background-color: var(--c-greyish-yellow);
}
.message-text{
    height: 25px;
    color: var(--c-dark-grey);
    font-family: var(--f-forum);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
}
/* Navbar for screens >= 992px */
.custom-navbar{
    height: 210px;
    padding-top: 0;
}
.header-row{
    --bs-gutter-x: 0;
}
.social-icon{
    padding-right: 30px;
}
.search-wrapper{
    width: 180px;
    border-bottom: 1px solid var(--c-dark-grey);
}
.search{
    border: none;
    background-color: transparent;
    font-family: var(--f-raleway);
    font-size: 14px;
}
.logo img{
    z-index: 1;
}
.user-tabs li:nth-child(-n+2){
    margin-right: 30px;
}
.user-tab {
    color: var(--c-dark-grey);
    font-family: var(--f-raleway);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}
.user-tab span{
    text-transform: uppercase;
}
.user-icon{
    margin-right: 15px;
}
.basket .bubble{
    position: absolute;
    top: -7px;
    left: 14px;
    font-size: 10px;
    padding: 0.001px 5px;
    border-radius: 50%;
    background-color: var(--c-greyish-yellow);
}
.left-upper-nav-container{
    height: 153px;
    margin-left: 35px;
}
.right-upper-nav-container{
    height: 153px;
    margin-right: 35px;
}
.lower-nav-row{
    height: 56px;
    border-bottom: 1px solid var(--c-light-grey);
    margin-top: -56px;
    --bs-gutter-x: 0;
}
.lower-nav-container{
    border-top: 1px solid var(--c-light-grey);
}
span#shop-all-roses{
    margin-right: 25px;
}
.arrow-point-down {
    transform: rotate(90deg);
}
.lower-nav-link{
    height: 25px;
    padding: 0 30px;
    font-size: 18px;
}
/* Navbar for screens < 992px */
.nav-toggle{
    width: 30px;
    font-size:30px;
    cursor:pointer;
}
.responsive-nav{
    padding-right: 30px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--c-off-white);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 23px;
    color: var(--c-dark-grey);
    display: block;
    transition: 0.3s;
    font-family: var(--f-raleway);
    font-weight: 600;
    width: fit-content;
    margin: auto;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.overlay-content .user-tab{
    font-size: 23px;
}
.overlay-content .search-wrapper{
    margin: 20px;
}
.overlay-content .search::placeholder{
    font-size: 20px;
}
.overlay-content .social-icon{
    padding: 15px;
}
/*Hero 1 Section*/
#hero-1{
    margin: 30px 0 60px;
}
.carousel-item{
    min-height: 470px;
}
.carousel-item img{
    position: absolute;
    min-width: 1000%; 
    min-height: 1000%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.1); /* Causes normal image to act like background image */
    object-fit: cover;
}
button.carousel-control{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.carousel-controls-container{
    margin-top: 15px;
}
.carousel-indicators{
    position: relative;
    margin: 0 15px;
}
.carousel-indicators .diamond{
    height: 10px;
    width: 10px;
    border: none;
    background-color: var(--c-greyish-yellow);
    margin: 0 5px;
}
.hero{
    height: 470px;
    margin-top: 30px;
    background: no-repeat center url("../img/hero.png");
    background-size: cover;
}
.hero-cta{
    max-width: 554px;
    background: no-repeat bottom right url("../img/roses-bg.png");
    background-color: #fff;
}
.hero-cta-content{
    padding: 60px 40px;
}
/* Website info 1 Section*/
.website-info-1{
    padding-top: 60px;
}
.website-info-1 p{
    margin-bottom: 53px;
}
/* Categories Section */
.categories-section{
    background: no-repeat left bottom url("/assets/img/roses-bg-2.png");
    background-color: var(--c-off-white);
    padding-bottom: 60px;
}
.categories h1{
    padding-top: 60px;
}
.category-card{
    padding: 0;
    border-radius: 0;
}
.category-card-border{
    width: fit-content;
    border: 1px solid var(--c-greyish-yellow);
    
}
.category-card .category-card-title {
    font-family: var(--f-raleway);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 30px;
    text-transform: uppercase;
}
.category-card .primary-btn{
    width: 140px;
    margin-bottom: 30px;
}
.category-cards-row{
    margin-bottom: 30px;
}

/* Products Section */
.products-tabs-nav .nav-arrow{
    margin: 0 10px;
}
.products-tabs-nav .tab{
    height: 50px;
    width: 160px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-tabs-nav .tab.active{
    border: 1px solid var(--c-greyish-yellow);
    border-radius: 100px;
    padding: 0 33px;
}
.diamond {
    box-sizing: border-box;
    height: 34px;
    width: 34px;
    border: 1px solid var(--c-greyish-yellow);
    transform: rotate(-45deg);
  }
.diamond .left-arrow{
    transform: rotate(45deg);
}
.diamond .right-arrow{
    transform: rotate(225deg);
}
.products-slider{
    margin: 30px 0;
}
.product-card{
    width: 20%;
    padding: 30px;
    border: 1px solid var(--c-greyish-yellow);
}
.products-slider .product-card:nth-child(n+2){
    border-left: none;  /*Removes left border from all the product cards other than the first*/
}
.products-slider-container{
    margin: 30px;
}
.product-card-content img{
    width: 100%;
}
.product-img-tag{
    position: relative;
}
.product-img-tag .product-tag{
    position: absolute;
    top: 20px;
    height: 30px;
    width: 80px;
}
.product-img-tag .product-tag.sale{
    background-color: var(--c-greyish-yellow);
    color: #fff;
}
.product-img-tag .product-tag.new{
    background-color: var(--c-dark-grey);
    color: #fff;
}
.product-img-tag .product-tag.pre-order{
    background-color: var(--c-clay-creek);
    color: #fff;
}
.product-card-content .product-name{
    margin-top: 30px;
    font-family: var(--f-raleway);
    font-weight: 600;
    letter-spacing: 0.9px;
    line-height: 16px;
    min-height: 32px;
}
.product-card-content .add-to-basket-btn{
    margin-top: 25px;
    width: 100%;
}
.product-card-content .product-price{
    font-size: 23px;
    letter-spacing: 0.5px;
    line-height: 24px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.product-card.on-sale .product-card-content .product-price:before{
    content:"Was £16.22";
    display: block;
    font-size: 18px;
    text-decoration: line-through;
}
.pre-order-btn{
    background-color: transparent;
    border: 1px solid var(--c-greyish-yellow);
    color: var(--c-greyish-yellow);
    margin-top: 25px;
    width: 100%;
}
.pre-order-btn-overlay{
    position: absolute;
    top: 30px;
    left: -3%;
    right: -64px;
    border: 1px solid var(--c-greyish-yellow);
    background-color: transparent;
    width: 106%;
    height: 40px;
}

/* Expert Advice */
.expert-advice{
    background: no-repeat right bottom url("/assets/img/roses-bg-3.png");
    background-color: var(--c-off-white);
    padding: 60px 0;
}
.article{
    vertical-align: top;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 30px;
}
.article-desc{
    display: flex;
    height: 100%;
}
.article-desc-overlap{
    background-color: #fff;
    margin: -30px 30px 0;
    padding: 30px;
    text-align: center;
}
.article-desc-overlap p{
    height: 70px;
    overflow: hidden;
    text-align: left;
}
.article-desc-overlap button{
    width: 153px;
}
.expert-advice .expert-advice-text{
    padding: 0 30px;
}
.slick-track{
    display: flex;
}

.slider-wrapper{
    overflow: hidden;   
}
.article-img img{
    position: relative;
    z-index: -1;
    width: 100%;
}

.nav-arrows-container{
    margin-top: 30px;
}
.nav-arrows-container .nav-arrow{
    margin: 0 10px;
}

/* Hero 2 Section*/
.hero-2{
    height: 550px;
}
.hero-2-row{
    --bs-gutter-x: 30px;
}
.hero-2-img-1{
    width: 36%;
    background: no-repeat center url("../img/hero-2-image-1.png");
    background-size: cover;
    margin-right: 30px;
}
.hero-2-img-2{
    background: no-repeat center url("../img/hero-2-image-2.png");
    background-size: cover;
}
.hero-2-cta{
    position: absolute;
    top: 108px;
    left: 18%;
}
.hero-2-cta .hero-cta-content{
    padding: 20px 30px 30px;
}

/* USPS Section */
.usps {
    background-color: var(--c-off-white);
    padding-top: 60px;
    padding-bottom: 30px;
}
.usp-title{
    font-family: var(--f-raleway);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: 25px;
    margin-bottom: 8px;
}

/* Let Us Inspire You Section */
.image-row{
    margin-bottom: 30px;
}
.image-row img{
    width: 20%;
    padding: 0;
}
.image-row img:nth-child(n+2){
    padding-left: 5px;
}
#let-us-inspire-you h3{
    margin-bottom: 23px;
}
.stay-in-touch-row .col-lg-6{
    height: 176px;
    padding-top: 30px;
}
.stay-in-touch-row .col-lg-6:first-child{
    border-right: 1px solid var(--c-greyish-yellow);
}
.stay-in-touch-row .social-icon{
    padding: 0 15px;
}
.email-input-group{
    height: 50px;
}
.email-input-group .email-input{
    width: 292px;
    height: 50px;
    margin-right: 5px;
    border: none;
    background-color: var(--c-off-white);
    font-family: var(--f-raleway);
    font-size: 14px;
    padding: 17px;
}
.email-input-group .sign-btn{
    width: 141px;
}

/* Footer */
footer{
    border-top: 1px solid var(--c-greyish-yellow);
    padding-top: 55px;
}
.footer-title {
    font-family: var(--f-raleway);
    font-size: 14px;
    font-weight: bold;
}
.contact-info-table tr td:nth-child(2){
    padding-bottom: 10px;
}
.contact-info-table img{
    margin-right: 25px;
    float: left;
}
.contact-info-table td{
    vertical-align: middle;
}
.contact-info-table td p{
    overflow: hidden;
    margin-bottom: 0;
}
.bottom-bar{
    border-top: 1px solid var(--c-greyish-yellow);
    padding: 15px 0;
}
.bottom-bar .cards span{
    margin-right: 10px;
}

/* Media Queries*/
@media only screen and (max-width: 1200px){
    /* Navbar */
    .left-upper-nav-container .navbar-nav{
        flex-direction: column;
    }
    .navbar-nav .search-wrapper{
        padding-left: 0;
        margin-top: 10px;
    }
    /*Expert Advice Section */
    .article-desc-overlap button{
        width: 130px;
    }
}
@media only screen and (max-width: 992px){
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 16px;
    }
    /* Hero 1 Section*/
    .hero .hero-cta-content{
        padding: 30px 20px;
    }
    /* Categories Section*/
    .category-card:nth-child(n+2) .category-card-border{
        border-left: none !important;
    }
    /*Product Section*/
    .product-card{
        width: 33%;
        border: 1px solid var(--c-greyish-yellow);
    }
    .product-card:nth-child(4){
        border-left: 1px solid var(--c-greyish-yellow) !important;
    }
    .product-card:nth-child(n+4){
        border-top: none;
    }
    /*Expert Advice Section */
    .expert-advice-text{
        margin-top: 30px;
    }
    /*Let Us Inspire You Section*/
    .image-row img{
        width: 33%;
    }
    .image-row img:nth-child(n+2){
        padding-left: 0;
    }
    /*Footer*/
    .top-bar{
        justify-content: flex-start !important;
    }
    .bottom-bar .cards{
        text-align: left !important;
        margin-bottom: 1rem;
    }
    .footer-contact-us-menu{
        margin-bottom: 10px;
    }
    .bottom-bar div:nth-child(3) p{
        text-align: left !important;
    }
}
@media only screen and (max-width: 768px){
    h1{
        font-size: 45px;
    }
    /* Hero 1 Section*/
    .hero .hero-cta{
        width: 80%;
    }
    /* Categories Section*/
    .category-card{
        margin-bottom: 30px;
    }
    .category-card:nth-child(n+2) .category-card-border{
        border-left: 1px solid var(--c-greyish-yellow) !important;
    }
    /*Product Section*/
    .product-card{
        width: 50%;
    }
    .product-card:nth-child(3){
        border-top: none;
    }
    .product-card:nth-child(4){
        border-left: none !important;
    }
    .product-card:nth-child(3), .product-card:nth-child(5){
        border-left: 1px solid var(--c-greyish-yellow) !important;
    }
    /* Hero 2 Section*/
    .hero-2-cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    /*Let Us Inspire You Section*/
    .image-row img{
        width: 50%;
    }
    .stay-in-touch-row .col-lg-6:first-child{
        border-right: none;
        border-bottom: 1px solid var(--c-greyish-yellow);
    }
}
@media only screen and (max-width: 576px){
    h1{
        font-size: 40px;
    }
    /* Hero 1 Section*/
    .hero-cta-content{
        padding: 20px 30px;
    }
    /* Hero 2 Section*/
    .hero-2-img-1{
        margin-right: 15px;
    }
    /*Product Section*/
    .product-card{
        width: 100%;
        border: 1px solid var(--c-greyish-yellow) !important;
    }
    .product-card:nth-child(n+2){
        border-top: none !important;
    }
    .product-card:nth-child(4){
        border-left: 1px solid var(--c-greyish-yellow) !important;
    }
    /*Expert advice Section*/
    .article{
        margin: 0 auto;
    }
}
@media only screen and (max-width: 400px){
    /*Hero Section - styling compensates for extremely small screen sizes such as Galaxy Fold*/
    h1.hero-cta-title{
        font-size: 22px;
    }
    .hero button, .hero-2 button{
        width: auto;
    }
    .hero .hero-cta-content{
        padding: 20px;
    }
}
